@model ProjetoAdvenTec.Models.Avaliacao

@{
    Layout = null;
    ViewData["Title"] = "Adicionar Avaliação";
}

<h1 class="display-4 text-center">Nos conte a razão de sua nota: </h1><hr />

<div class="row">
    <div class="col-md-12 col-md-8 col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="text-center">
                @if (ViewBag.nota <= 4)
                {
                    <a class="btn btn-danger my-2" style="color:white">Nota Atribuida: <b>@ViewBag.nota</b></a>
                }
                else if (ViewBag.nota == 5)
                {
                    <a class="btn btn-warning my-2" >Nota Atribuida: <b>@ViewBag.nota</b></a>
                }
                else
                {
                    <a class="btn btn-success my-2">Nota Atribuida: <b>@ViewBag.nota</b></a>
                }



                <a class="btn btn-outline-info my-2">Mês Avaliado: <b>@ViewBag.dataFormatada</b></a>
            </div>

            <div class="form-group">
                @*<label asp-for="idCliente" class="control-label"></label>*@
                <input type="hidden" asp-for="idCliente" value="@ViewBag.idCliente" class="form-control" />
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="idAvaliacao" class="control-label"></label>*@
                <input type="hidden" asp-for="idAvaliacao" value="@ViewBag.idAvaliacao" class="form-control" />
                <span asp-validation-for="idAvaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="dataReferencia" class="control-label"></label>*@

                <input type="hidden" asp-for="dataReferencia" value="@ViewBag.dataReferencia" class="form-control" />
                <span asp-validation-for="dataReferencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="nota" class="control-label"></label>*@
                <input type="hidden" asp-for="nota" value="@ViewBag.nota" class="form-control" />
                <span asp-validation-for="nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razaoNota" class="control-label"></label>
                <textarea asp-for="razaoNota" id="razaoNota" name="razaoNota" class="form-control" maxlength="265" placeholder="Máximo de 265 letras" rows="6"></textarea>
                <span asp-validation-for="razaoNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" style="font-weight:bold" value="Salvar Avaliação" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
